@import '~styles/theme';

.button {
  background: transparent;
  border: 0;
  color: $primary-color;
  cursor: pointer;
  font-weight: 700;
  outline: none;
  padding-right: 1.5em;
  text-transform: uppercase;
}

.success {
  color: $primary-color;
}

.warning {
  color: $warning-color;
}

.error {
  color: $error-color;
}
