@import '~styles/theme';
.example {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1em;
}

.button{
    background: $secondary-color;
    color: #ffffff;
    padding: 1em;
    margin: 1em;
    width: 50%;
    cursor: pointer;
}