@import '~styles/theme';

.example {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1em;
}

.button {
  background: $secondary-color;
  color: $default-bg-color;
  cursor: pointer;
  margin: 1em;
  padding: 1em;
  width: 50%;
}
