@import '~styles/theme';

$padding: 2em;

.header {
  align-items: center;
  display: flex;
  width: auto;
}

.menu {
  align-items: center;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{2 * $padding});
  padding: $padding;
  position: relative;
}

.items {
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 7em;
  width: 85%;
}

.footer {
  margin-top: auto;
}

.sep {
  border-bottom: 1px solid $default-bg-color;
  margin: 2em 0;
  width: 70%;
}
