@import '~styles/theme';

.icon {
  align-items: center;
  display: flex;

  label {
    margin: 0 .5em;
  }

  * {
    color: initial;
  }

  span {
    font-family: inherit;
  }
}

.primary {
  color: $primary-color;
}

.secondary {
  color: $secondary-color;
}

.disabled {
  color: $disable-bg-color;
}


.primary,
.secondary,
.disabled,
.inheritColor {
  * {
    color: inherit;
  }

  span {
    &::before {
      color: inherit !important;
    }
  }
}
