@import './styles/theme';
@import '../node_modules/kriya-select/dist/kriya-select.css';
// import normalize.css
@import '~normalize.css/normalize.css';

// Global config
html {
  * {
    color: $font-color-dark;
    font-family: 'Muli', 'Arial', 'Helvetica';
    line-height: 1em;
  }
}

body {
  background-color: white;
}

// Own normalize
form {
  margin: 0;
}

i {
  font-size: 1.8em;
}
