@import '~styles/theme';

.item {
  background-color: inherit;
  border-left: solid 4px transparent;
  border-radius: none
  ;
  color: $default-bg-color;
  font-weight: inherit;
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background-color: $primary-color-darken-2;
  }
}

.selected {
  background-color: $primary-color-darken-2;
  border: 0;
  border-left: solid 4px $secondary-color;
  box-shadow: inset 3px 0 10px -5px $font-color-dark;

  &:hover {
    background-color: $primary-color-darken-2;
  }
}
