@import '~styles/theme';

.toast {
  align-items: center;
  background: $default-bg-black-color;
  box-shadow: 0 1px 6px 4px $box-shadow-color, 0 3px 6px $box-shadow-color;
  display: flex;
  justify-content: space-between;
  min-height: 4em;
  position: fixed;
  transition: transform 1s;
  width: 100%;
  z-index: 1000;

  &.top {
    top: 0;
    transform: translateY(-100vh);
  }

  &.bottom {
    bottom: 0;
    transform: translateY(100vh);
  }

  &.print {
    transform: translateY(0);
    transition: transform 300ms;
  }

  &.success {
    button,
    .text {
      color: $primary-color;
    }
  }

  &.error {
    button,
    .text {
      color: $error-color;
    }
  }

  &.warning {
    button,
    .text {
      color: $warning-color;
    }
  }

  button {
    background: transparent;
    border: 0;
    color: $primary-color;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    padding-right: 1.5em;
    text-transform: uppercase;
  }
}

.text {
  color: $default-bg-color;
  font-weight: 700;
  padding-left: 1.5em;
}