.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.separator {
  height: 3em;
}

.group2 {
  max-width: 60em;
  width: 60vw;
}

.buttongroup2 {
  margin-top: 1em;
  max-width: 60em;
  width: 60vw;
}
