// Primary color and derivated
$primary-color: #50e39e !default;

// Secondary color and derivated
$secondary-color: #558dff !default;

// Others colors
$disable-bg-color: #f5f5f5 !default;
$font-color-dark: #373b43 !default;
