// Primary color and derivated
$primary-color: #50e39e !default;
$primary-color-lighten-1: lighten($primary-color, 7%) !default;
$primary-color-darken-1: darken($primary-color, 7%) !default;

// Secondary color and derivated
$secondary-color: #558dff !default;

// Backgrounds colors
$default-bg-color: #fff !default;
$disable-bg-color: #f5f5f5 !default;

// Others colors
$font-color-dark: #373b43 !default;
$font-color-light: #fff !default;
$default-grey-color: #ccc !default;
$popover-background-color: rgba(0, 0, 0, .64) !default;
$error-color: #f06252 !default;
