$primary-color: #50e39e !default;
$primary-color-lighten-7: lighten($primary-color, 7%) !default; // #6fe8af
$primary-color-lighten-25: lighten($primary-color, 25%) !default; // #bef5db
$primary-color-darken-7: darken($primary-color, 7%) !default; // #31de8d

$secondary-color: #558dff !default;
$secondary-color-lighten-10: lighten($secondary-color, 10%) !default; // #88afff
$secondary-color-darken-10: darken($secondary-color, 10%) !default; // #226bff

$default-fg-grey-color: #a5abb6 !default;
$default-grey-color: #ccc !default;
$disable-bg-color: #f5f5f5 !default;
$default-bg-color: #fff !default;
$error-color: #f06252 !default;

$font-color-light: #fff !default;
$font-color-dark: #373b43 !default;

$background-color: #fff !default;

$popover-background-color: rgba(0, 0, 0, .64) !default;

$navbar-shadow-color-start: rgba(191, 191, 191, 0) !default;
$navbar-shadow-color-end: rgba(169, 169, 169, .32) !default;
$navbar-shadow: linear-gradient(0deg, $navbar-shadow-color-start, $navbar-shadow-color-end) !default;
