@import '~styles/theme';

.input {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 15em;

  label {
    margin-bottom: $input-radius-size;
  }

  select,
  :global(.Select) {
    appearance: none;

    &::-ms-expand {
      display: none;
    }
  }

  :global(.is-focused:not(is-open)) > :global(.Select-control) {
    border: $border-size solid $primary-color;
    box-shadow: none;
  }

  :global(.Select-clear-zone) {
    margin: 0 .3em;
    display: flex;
    justify-content: center;
  }

  :global(.Select-clear) {
    color: $default-grey-color;
  }

  :global(.Select-arrow) {
    margin-bottom: -3.5px;
  }

  :global(.Select-control) {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;

    :global(.Select-multi-value-wrapper) {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    :global(.Select-value) {
      align-items: center;
      display: flex;

      > :global(.Select-value-label) {
        line-height: 1.1em;
      }
    }
  }
}

:global(.Select-input),
:global(.Select--multi .Select-input) {
  height: inherit;
  margin-left: 0;
  padding: 0 .1em;

  > input {
    line-height: inherit;
    padding: inherit;
  }
}

:global(.Select--multi .Select-value) {
  background: $primary-color-darken-2;
  border-radius: $input-radius-size;
  margin: .2em .2em 0 0;
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  :global(.Select-value-icon) {
    border: 0;
    color: $font-color-light;
  }

  :global(.Select-value-icon:focus) {
    background: $primary-color-darken-1;
    border: 0;
    color: $font-color-light;
  }

  :global(.Select-value-label) {
    color: $font-color-light;
  }
}

:global(.Select-placeholder) {
  align-items: center;
  color: $default-grey-color;
  display: flex;
}

:global(.Select-value-label) {
  overflow: hidden;
  padding-right: 2em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.arrow {
  color: $default-grey-color;
  font-size: 1.5em;
  pointer-events: none;
  position: absolute;
  right: $input-radius-size;
  top: .3em;
  transition: $default-transition transform, $default-transition color;
}

.field,
:global(.Select-control) {
  border: $border-size solid $default-grey-color;
  border-radius: $input-radius-size;
  box-shadow: none;
  font-weight: 300;
  outline: none;
  padding: $input-radius-size;
  transition: $default-transition border-color;
  width: 100%;

  &:focus {
    border: $border-size solid $primary-color;

    & + .arrow {
      color: $primary-color;
      transform: rotateZ(180deg);
    }
  }

  &:invalid {
    border: $border-size solid $error-color;

    & + .arrow {
      color: $error-color;
    }
  }

  &:disabled {
    @include disabled;
    background-color: $disable-bg-color;
    border: $border-size solid $default-grey-color;

    & + .arrow {
      color: $default-grey-color;
    }

    &:hover {
      background-color: $disable-bg-color;
    }
  }

  &::placeholder {
    color: $default-grey-color;
    font-weight: 300;
  }
}

.type-radio {
  width: 1.5em;
}
