@import '~styles/theme';

.select {
  :global(.Select .Select-control) {
    background-color: $default-bg-color;

    :global(.Select-value) {
      max-width: 90%;

      :global(.Select-value-label) {
        color: $font-color-dark;
        line-height: inherit;
      }
    }

    :global(.Select-clear) {
      color: $default-grey-color;
    }
  }

  :global(.is-open .Select-arrow) {
    border-top-color: $default-grey-color;
  }

  :global(.Select-arrow) {
    border-top-color: $default-grey-color;
  }

  :global(.is-focused) {
    :global(.Select-control) {
      border-color: $primary-color;
      outline: none;
    }
  }
}
